<template>
    <div>
        <p v-for="(name) in names" :key="name">
            {{ name.id }} - {{ name.first}} {{ name.last }} 
        </p>
        <hr />
        <div class="card" v-for="person in peoples" :key="person">
            <h2>{{ person }}</h2>

            <p class="card sub" v-for="person in peoples.friends" :key="person">
                {{ friend }}
            </p>
        </div>
        <hr />
        <div v-for="user in users" :key="user">
            <p v-if="user.age >= 45 && user.age <= 50">{{ user.name }}</p>
            <p v-else-if="user.age >= 30 && user.age <= 44">{{ user.name }}</p>
            <p v-else>Name:{{ user.name }}</p>
        </div>

    </div>
</template>

<script>
    export default {
        name: "IteratinView",
        data() {
            return {
                users: [
                    {name: 'John', age: 33 },
                    {name: 'Jane', age: 34 },
                    {name: 'Jack', age: 17 },
                    {name: 'Jill', age: 16 },
                ]
                names: [
                {  id: 0, first: "Mark", last:"Zuckerberg" },
                {  id: 1, first: "Elon", last:"Musk" },
            ],
            peoples: [
               { id: 0, name: "John Doe", friends:['Scots Lang', 'Tony Stack'] },
               { id: 0, name: "Tayler Swiff", friends:['Leo messi', 'JJ Baby'] },
            ]
            }
        },
    }
</script>

<style>
.card{
    width:30rem;
    margin: 1rem auto;
    padding:0.5rem;
    border:1px solid black;
}
.sub{
    width: initial;
    margin: 0.5rem;
}
</style>